<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css" asp-append-version="true">
</head>
<body>
    <header>
        @RenderSection("H1", false)
        <nav><a href="/">Home</a></nav>
    </header>
    <main id=_main>@RenderBody()</main>
    <div id=error-message></div>
</body>
</html>

