@page
@model ServerApp.Pages.App.Recipes.AddModel

@section H1 { <h1>Add Recipes</h1> }

<partial name="Shared/_Edit" model="@Model" />

<br>
<p>Recently Added Recipes</p>
<div id=added-recipes>
</div>
