@model MealPlanner.Data.Actors.Models.MealPlanModel

<div id=@Model.Date>
    <p>@Model.Date</p>
    <h2>No Recipe Chosen</h2>
    <form class=inline method=post asp-page-handler="AddRecipe" asp-route-id="@Model.Date">
        <button>Add Recipe</button>
    </form>
</div>
