@model ServerApp.Pages.App.Meal_Plans.MealViewModel

@{ 
    var startDate = Model.StartDate;
}

<div id=_@Model.Date>
    <p>@Model.Date</p>
    <h2>No Recipe Chosen</h2>
    <form class=inline
          method=post
          asp-page-handler="AddRecipe"
          asp-route-id="@Model.Date"
          asp-route-startDate=@startDate>
        <input type=submit value="Add Recipe">
    </form>
</div>
