@page
@model ServerApp.Pages.App.Meal_Plans.IndexModel
@{
    ViewData["StartDate"] = Model.StartDateView;
}

@section Head {
<style>
    .meal-edit {
        min-width: 22em;
    }
    .meal-edit h2, .meal-edit p {
        height: 1.25em;
        overflow: hidden;
    }
    main { width: 100%; }
    @@media (max-width: 481px) {
        .meal-edit h2, .meal-edit p {
            height: auto; overflow: hidden;
        }
        .meal-edit {
            min-width: auto;
        }
    }
</style>
}

@section H1 { <h1>Meal Plans</h1> }

<form method=get hf-ignore>
    <label asp-for="StartDate">Start Date:&nbsp;</label>
    <input
           type=date
           asp-for="StartDate"
           required
           onchange="this.form.submit()">
    <br><input type=submit value=Submit hf-hidden>
</form>

<section id=meal-selections class=cards>
    @foreach (var mealPlan in @Model.MealPlans)
    {
        if (mealPlan?.Recipes?.FirstOrDefault() is { })
        {
            <partial name="_RecipeTemplate" model="mealPlan" />
        }
        else
        {
            <partial name="_CancelledTemplate" model="mealPlan" />
        }
    }
    <div><a href="/app/recipes/add">Add New Meal</a></div>
</section>

