@model ServerApp.Pages.App.Recipes.Shared.IRecipeViewModel

<div class=error asp-validation-summary="All"></div>

<form method=post id="_add-recipe">
    <label asp-for="Recipe.Name">Recipe Name</label>
    <input asp-for="Recipe.Name" placeholder="Spaghetti with Meatballs" autofocus required>
    <fieldset>
        <legend>Recipe Source</legend>

        <details>
            <summary>Website</summary>
            <fieldset>
                <label asp-for="Recipe.Url">Url</label><br>
                <input type=url asp-for="Recipe.Url" placeholder="https://example.com" data-required>
            </fieldset>
        </details>

        <details>
            <summary>Book</summary>
            <fieldset>
                <label asp-for="Recipe.BookName">Name</label><br>
                <input asp-for="Recipe.BookName" placeholder="My Favorite Recipe Book">
                <br>
                <label asp-for="Recipe.BookPage">Page</label><br>
                <input asp-for="Recipe.BookPage" type=number placeholder=125>
            </fieldset>
        </details>

        <details>
            <summary>Other</summary>
            <fieldset>
                <input asp-for="Recipe.Other" placeholder="I made this recipe!">
            </fieldset>
        </details>

    </fieldset>

    <fieldset id="meal-times">
        <legend>Meal Times</legend>
        @foreach (var mealTime in Model.MealTimes)
        {
            <input id=@mealTime.Id
                   type=checkbox
                   name=SelectedMealTimes
                   value="@mealTime.Id"
                   checked="@mealTime.Selected">
            <label for=@mealTime.Id>@mealTime.Name</label><br>
        }
    </fieldset>

    <input type=hidden asp-for="Recipe.Id">

    <br>
    @if (Model.Recipe?.Id is null)
    {
        <input type=reset value=Clear>
    }
    else
    {
        <input type=submit asp-page-handler=delete asp-route-id="@Model.Recipe.Id" value=Delete hf-confirm>
    }
    &nbsp;<input id=save-once type=submit value=Save>&nbsp;
</form>
