<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    @RenderSection("Head", false)
</head>
<body>
    <header>
        <h1>Meal Planner</h1>
        <nav>
            <a href="/">Home</a> | <a href="/login?handler=logout">Logout</a>
        </nav>
    </header>
    <main id=_main>@RenderBody()</main>
    <div id=error-message></div>
    <script src="~/js/htmx.min.js"></script>
    <script src="~/js/htmf.js"></script>
</body>
</html>

