@model ServerApp.Pages.App.Meal_Plans.MealViewModel
@using ServerApp.Pages.App.Meal_Plans
@{
    var recipe = Model.Recipes.FirstOrDefault();
    var url = recipe?.Url?.ToString();
    var id = $"_{Model.Date}_title";
}

@if (url?.Length > 0)
{
    <div id=@id>
		<h2 title="@recipe?.Name"><a href="@url">@recipe?.Name</a></h2>
        <p>&nbsp;</p>
    </div>
}
else
{
	<div id=@id>
		<h2 title="@recipe?.Name">@recipe?.Name</h2>
		<p>
		@if (recipe.BookName is { })
		{
			<small>@recipe.BookName &dagger; @recipe.BookPage</small>
		}
		else
		{
			<small>@(recipe.Other ?? "")&nbsp;</small>
		}
		</p>
	</div>
}
