@page
@model ServerApp.Pages.App.Meal_Plans.IndexModel
@using MealPlanner.Data
@{
    ViewData["StartDate"] = Model.StartDateView;
}

@section Head { <link rel="stylesheet" type="text/css" href="~/css/meal-plans.css"> }

@section H1 { <h1>Meal Plans</h1> }

<form method=get hf-ignore>
    <label asp-for="StartDate">Start Date:&nbsp;</label>
    <input
           type=date
           asp-for="StartDate"
           required
           onchange="this.form.submit()">
    <br><input type=submit value=Submit hf-hidden>
</form>

<section id=meal-selections class=cards>
    @foreach (var mealPlan in @Model.MealPlans)
    {
        if (mealPlan?.Recipes?.Any() ?? false)
        {
            <partial name="_RecipeTemplate" model="mealPlan" />
        }
        else
        {
            <partial name="_CancelledTemplate" model="mealPlan" />
        }
    }
    <div><a href="/app/meal-plans?startDate=@(Shared.ToMealPlanId(Model.StartDate.Value.AddDays(7)))">Next Week</a></div>
</section>

