@page
@model ServerApp.Pages.App.Meal_Plans.IndexModel
@using MealPlanner.Data
@{
    ViewData["StartDate"] = Model.StartDateView;
}

@section H1 { <h1>Meal Plans</h1> }

@if (Model.MealPlans.Any())
{

@section Head { <link rel="stylesheet" type="text/css" href="~/css/meal-plans.css" asp-append-version="true"> }

<p><a href="/app/meal-plans?startDate=@(Shared.ToMealPlanId(Model.StartDate.Value.AddDays(-7)))">Previous Week</a> |
<a href="/app/meal-plans?startDate=@(Shared.ToMealPlanId(Model.StartDate.Value.AddDays(7)))">Next Week</a></p>

<form method=get>
    <label asp-for="StartDate">Start Date:&nbsp;</label>
    <input
           type=date
           asp-for="StartDate"
           required
           onchange="this.form.submit()">
    <noscript><br><input type=submit value=Submit></noscript>
</form>

<section id=meal-selections class=cards data-draggable>
    <partial name="_MealsTemplate" model="Model" />
    <div></div>
</section>

<form id=swap method=post asp-page-handler="Swap" asp-route-startDate="@Model.StartDate" style="display:none;">
    <input name=Source>
    <input name=Target>
    <button id=swap-button></button>
</form>

<script src="~/js/draggable.min.js" asp-append-version="true"></script>

<script>
document.addEventListener("swapped", e => {
    let form = document.forms["swap"]
    form.Source.value = e.detail.source.id.slice(1)
    form.Target.value = e.detail.target.id.slice(1)
    form.querySelector("#swap-button").click()
})
</script>

}
else
{
<p>No recipes have been created. <a href="/app/recipes/add">Create a new recipe.</a></p>
}

