/**
  MAPPING
*/

body {
  --selected-tab: var(--c3);
  --unselected-tab: var(--c2);
}

/**
  OVERRIDES
*/

label {
  padding-right: .5em;
}

/**
    VALIDATION
*/

.error {
  display: hidden;
  font-size: 0.8em;
  margin: 0;
  font-weight: normal;
}

input:focus + .error,
input:invalid:focus + .error {
  display: block;
}

input:invalid:focus + .error {
  color: coral;
}

input:required:placeholder-shown {
    border-left: solid coral 2px;
}

/**
  FORM
*/

fieldset {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
