/**
    TABS
*/
[data-tab] {
  display: none;
}

[data-tab] + label {
  cursor: pointer;
  background: #eee;
  padding: 0.25em;
  border: 1px solid #ccc;
}

[data-tab]:checked + label {
  border-bottom: solid #f9f9f9 1px;
  background-color: #f9f9f9;
}

[data-tab="1"]:checked ~ [data-tab="1"],
[data-tab="2"]:checked ~ [data-tab="2"],
[data-tab="3"]:checked ~ [data-tab="3"] {
  padding: 1em;
  display: block;
  border: solid #ccc 1px;
}

/**
    VALIDATION
*/

.error {
  display: hidden;
  font-size: 0.8em;
  margin: 0;
  line-height: 0;
  font-weight: normal;
}

input:focus + .error,
input:invalid:focus + .error {
  display: block;
}

input:invalid:focus + .error {
  color: coral;
}

input:required:placeholder-shown {
    border-left: solid coral 2px;
}

/**
  FORM
*/

fieldset {
  margin-top: 0.5em;
}
