@page
@model ServerApp.Pages.RegisterModel

<div class=error asp-validation-summary="All"></div>

<form method=post>
    <label asp-for="UserRegister.FirstName">First Name (Optional)</label><br>
    <input type=email asp-for="UserRegister.FirstName" /><br>

    <label asp-for="UserRegister.LastName">Last Name (Optional)</label><br>
    <input type=email asp-for="UserRegister.LastName" /><br>

    <label asp-for="UserRegister.Email">Email</label><br>
    <input type=email asp-for="UserRegister.Email" /><br>

    <label asp-for="UserRegister.Password">Password</label><br>
    <input type=password asp-for="UserRegister.Password" /><br>

    <label asp-for="UserRegister.ConfirmationPassword">Confirm Password</label><br>
    <input type=password asp-for="UserRegister.ConfirmationPassword" /><br>

    <br><input type=submit value=OK>
</form>

