@page
@model ServerApp.Pages.App.IndexModel

@section H1 { <h1>Site Map</h1> }

<ul>
    <li>
        <a href="/app/recipes">List of Recipes</a>
        <ul>
            <li><a href="/app/recipes/add">Add</a></li>
        </ul>
    </li>

    <li><a href="/app/meal-plans">Meal Plans</a></li>
</ul>

